// color utilities
.primary {
  color: $color;
}

.secondary {
  color: $secondary;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

.primaryBkg {
  background: $lightColor;
}

.secondaryBkg {
  background: $lightSecondary;
}

.bodyBkg {
  background: $bodyColor;
}
