// ui elements
.actions {
  @extend .flex;
  @extend .f-je;
  @extend .f-ac;

  & > *:not(:last-child) {
    @extend .mr-16;
    flex-shrink: 0;
  }

  input {
    max-width: 200px;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
