#mainFooter {
  @extend .w-100;
  @extend .p-56;
  @extend .mt-56;
  background: $navGray;
  h4,
  p,
  address {
    @extend .white;
  }
  .description {
    @extend .flex;
    @extend .f-column;
    @extend .f-jsb;
  }
  .copyright {
    @extend .mt-56;
    @extend .white;
    @extend .f-l-center;
    @extend .pl-16;
    @extend .pr-16;
    height: 56px;
    background: $lineGray;
    a {
      @extend .secondary;
    }
  }
}
