.grid {
  display: grid;
  grid-auto-flow: dense;
  &:not(.dense) {
    &:not(.wide) {
      grid-column-gap: $grid-gap;
      grid-row-gap: $grid-gap;
    }
    &.wide {
      grid-gap: $grid-gap * 2;
    }
  }
  &.aside {
    grid-template-columns: 0.5fr 0.8fr;
    @extend .gridMobile;
  }
  $i: 1;
  @while $i <=$columns {
    &.col-#{$i} {
      grid-template-columns: repeat($i, 1fr);
      @extend .gridMobile;
    }
    $i: $i + 1;
  }
}

.gridMobile {
  @media #{$tablet-down} {
    grid-template-columns: 100%;
  }
}
