ul.list {
  &:not(.dense) {
    li {
      padding: 16px 24px;
    }
  }
  li {
    @extend .flex;
    @extend .f-ac;
    @extend .f-jsb;
    flex-wrap: nowrap;
    &:not(:last-child) {
      border-bottom: solid 1px $off-gray;
    }
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      & > span:last-child {
        margin-top: 24px;
      }
    }
  }
}
