// responsive utilities
.hide {
  display: none;
}

.hide-laptop {
  @media #{$laptop-up} {
    display: none;
  }
}

.hide-tablet {
  @media #{$laptop-down} {
    display: none;
  }
}

.hide-mobile {
  @media #{$tablet-down} {
    display: none;
  }
}
